{% extends "user/base.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'profile' %}" style="font-size:40px; font-family:'Arial', Helvetica, sans-serif"><strong>FakeBook</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" style="float: right">

        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'delete' %}">Delete Account <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        </ul>
        </div>
    </nav>
    <br>

    <h3 style="margin-left:18px">Edit your profile page!</h3>

    <br>
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <div class="form-group row" style="margin-left:8px">
            <div class="col-3">
            {{ form.name }}
            </div>
        </div>

        <div class="form-group row" style="margin-left:8px">
            <div class="col-3">
            {{ form.age }}
            </div>
        </div>

        <div class="form-group row" style="margin-left:8px">
            <div class="col-3">
            {{ form.email }}
            </div>
        </div>

        <div class="form-group row" style="margin-left:8px">
            <div class="col-3">
            {{ form.college }}
            </div>
        </div>


        <div class="form-group row" style="margin-left:8px">
            <div style="margin-left:125px; background-color:">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>

    </form>

{% endblock %}
