{% extends "user/base.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

    <h1 style="text-align: center; font-size:50px; margin-top:150px">Welcome to FakeBook!</h1>
    <h5 style="text-align: center; line-height:30px; margin-bottom:15px; font-size:25px;">Create your own Fake Profile!</h5>
    {% if message %}
        <div style="text-align:center;margin-top:15px; margin-bottom:15px; font-size:20px; color:#ff1a75">
            {{ message }}
        </div>
    {% endif %}
    <button type="submit" onclick="location.href='{% url 'login' %}'" class="btn btn-primary " style="margin: auto; display: block;">Login</button>
    <p style="text-align: center; margin-top:12px">Not a User yet? <a href="{% url 'signup' %}" style="text-decoration: underline; color: white">Sign up</a></p>

{% endblock %}
