{% extends "user/base.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-size:40px; font-family:'Arial', Helvetica, sans-serif"><strong>FakeBook</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <h1 style="text-align: center; font-size:40px; margin-top:100px">Sign Up to Create your Profile</h1>
    {% if message %}
        <div class="form-group" style="text-align:center;margin-top:15px; margin-bottom:0px; font-size:20px; color:#ff1a75">
            {{ message }}
        </div>
    {% endif %}
    <main class="container p-4">
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="col-lg-4" style="margin:auto; display:block">
                <input type="text" name="username" align="right" autocomplete="off" autofocus class="form-control" placeholder="Username" required>
            </div>

            <div class="col-lg-4" style="margin:auto; display:block">
                <input type="password" name="password" style="margin-top:15px; margin-bottom:15px" class="form-control" placeholder="Password" required>
            </div>

            <div class="col-lg-4" style="margin:auto; display:block">
                <input type="password" name="confirm_pass" style="margin-top:15px; margin-bottom:15px" class="form-control" placeholder="Confirm Password" required>
            </div>

            <div class="col-lg-4" style="margin:auto; display:block">
                <button class="btn btn-primary" style="margin:auto; display:block" type="submit">Sign Up</button>
            </div>
            <p style="text-align: center; margin-top:12px">Already a user? <a href="{% url 'login' %}" style="text-decoration: underline; color: white">Login</a></p>
        </form>
    </main>

{% endblock %}
